* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d0d0d;
    color: white;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    padding: 20px 40px;
}

.header a {
    color: white;
    text-decoration: none;
}

/* ОСНОВНОЙ БЛОК */
.product {
    display: flex;
    gap: 60px;
    padding: 50px;
    align-items: center;
}

/* ЛЕВАЯ ЧАСТЬ */
.left {
    display: flex;
    flex-direction: column;
}

/* Главное изображение */
.main-img {
    width: 500px;
    border-radius: 20px;
    margin-bottom: 15px;
}

/* Мини-картинки */
.thumbs {
    display: flex;
    gap: 10px;
}

.thumbs img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.thumbs img:hover {
    opacity: 1;
    transform: scale(1.05);
}

/* ПРАВАЯ ЧАСТЬ */
.right {
    max-width: 400px;
}

.right h1 {
    font-size: 40px;
}

/* ЦЕНА */
.price {
    color: #00ff88;
    font-size: 30px;
    margin: 20px 0;
}

/* ИНФО */
.info p {
    margin-bottom: 10px;
}

/* КНОПКА */
button {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 12px;
    background: linear-gradient(45deg, #00ff88, #00ccff);
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

/* АДАПТИВ */
@media (max-width: 900px) {
    .product {
        flex-direction: column;
    }

    .main-img {
        width: 100%;
    }
}